.footer {
  margin-top: 65px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #F2F2F2;
}

.footer__container {
  padding-left: 82px;
  background-image: url(../img/footer_logo.svg);
  background-repeat: no-repeat;
  background-position: 10px center;
}