.footer-address {
  color: #333333;
  font-style: normal;
}

.footer-address__address {
  margin: 0;
  margin-bottom: 5px;
}

.footer-address__tel {
  margin: 0;
  margin-bottom: 10px;
}

.footer-address__tel a {
  color: #333333;
  text-decoration: none;
}

.footer-address__site {
  margin: 0;
}